<p id="notice"><%= notice %></p>

<% if @message %>
  <div class="center alert">
    <p><%= @message %></p>
  </div>
<% end %>

<h1>User Profile</h1>

<h3>Name: <%= @user.name %></h3>

<p>Current Mood: <%= @user.mood %></p>
<p>Remaining Tickets: <%= @user.tickets %></p>
<p>Happiness: <%= @user.happiness %></p>
<p>Nausea: <%= @user.nausea %></p>
<p>Height: <%= @user.height %></p>

<%= link_to("See attractions", attractions_path) %>
